#navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 20px;
  padding: 20px 0px;
  align-items: center;
  background-color: lightgreen;
  margin-top: -40px;
}

#navbar div {
  color: black;
  text-decoration: none;
  font-size: 20px;
  width: 12%;
  height: 35px;
  text-align: center;
  border-radius: 10px;
}
#navbar div:hover {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}

#nav {
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightslategray;
}
#nav div {
  width: 10%;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
}
#nav div:hover {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
}
#main {
  /* border:1px solid; */
  display: flex;
  justify-content: space-between;
  padding: 5% 5%;
  margin-top: 1%;
}
#attach {
  /* border:1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5% 5%;
}
#display {
  width: 60%;
}
form {
  display: flex;
  flex-direction: column;
}
#name {
  margin-bottom: 5%;
  padding: 2% 5%;
}
#des {
  margin-bottom: 5%;
  padding: 10% 5%;
}
#link {
  margin-bottom: 5%;
  padding: 10% 5%;
}
#btn {
  padding: 4% 8%;
  /* background-color:; */
}
th{
    padding:10px 50px;
    background-color: green;
    color: white;
    width: 50%;
}
td{
    text-align: center;
    background-color: lightgoldenrodyellow;
    color:black;
}